<%- include('../partials/header') %>

<h2>Movie List</h2>
<table>
<thead>
    <tr>
    <th>Title</th>
    <th>Release Year</th>
    <th>Rating</th>
    <th>Cast</th>
    <th>Now Showing</th>
    </tr>
</thead>
<tbody>
    <!-- Write the line of EJS to iterate over movies using forEach -->
    <% movies.forEach((movie)=>{ %>
    <tr>
        <td><%= movie.title %></td>
        <td><%= movie.releaseYear %></td>
        <td><%= movie.mpaaRating %></td>
        <td><%= movie.cast.join(',') %></td>
        <td><%= movie.nowShowing ? "yes" : "NOPE" %></td>
    </tr>
        <% }); %>
    <!-- Close the forEach using EJS here -->
</tbody>
</table>
<%- include('../partials/header') %>