<%- include('../partials/header') %>

<h2>Flight Details</h2>
<table>
<thead>
    <tr>
    <th>Airline</th>
    <th>Flight Number</th>
    <th>Depart Info</th>
    <th>Arrival Info</th>
</tr>
</thead>
<tbody>
    <tr>
        <td><%= flight.airline %></td>
        <td><%= flight.flightNo %></td>
        <td><%= flight.airport %> <strong>-</strong> <%= flight.departs %></td>
        
        <% if(flight.destinations){ %>
        <td>
            <% flight.destinations.forEach(arrivalPoint => { %>
                <%= arrivalPoint.airport %> <strong>-</strong> <%= arrivalPoint.arrival %><br>
            <% }); %>
        </td>
        <% } else { %>
        <td> NA - NA</td>
        <% } %>
    </tr>
</tbody>
</table>
<br>
<form id="arrivalForm" action="/flights/<%= flight._id %>/destinations" method="POST">
    <label>Arrival Airport</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
    </select>
    <br>
    <label>Arrival Time</label>
    <input type="datetime-local" name="arrival">
    <br>
    <input type="submit" value="Add Arrival Info">
</form>

<%- include('../partials/footer') %>